    .container {
    max-width: 1440px;
    background-color: #fff;
    background-repeat: repeat-y;
    }

    @import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
    @import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

    body {
    font-family: "Camphor Pro", sans-serif;
    }

    .img-fluid {
    width: 100%;
    height: auto;
    }

    .icons-img-03{
    
      margin: 0 auto;
      display: block;
      }

    .subtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    line-height: 1.1;
    }

    .sub-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    }

    .subtitle-menu{
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    overflow-wrap: break-word;
    top: 5rem;
    left: 1rem;
    }

    .subtitle-left {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    }

    .p-left {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }

    .p-center {
    font-size: 1.4rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }

    .p-aviso {
    font-size: 1rem;
    text-align: left;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    overflow-wrap: break-word;
    width: 66rem;
    }

    .icons-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    color: #5c317e;
    margin-top: 1rem;
    line-height: 1.2;
    }

    .icons-title-03 {
    font-size:1.7rem;
    text-align: left;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    color: #5c317e;
    margin-top: 1rem;
    line-height: 1.2;
    }

    .icons-title-ia{
    font-size: 1.5rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 500;
    color: #5c317e;
    padding-top: 1rem;
    line-height: 1.2;
    }

    .icons-text {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 300;
    line-height: 1.0;
    }

    .icons-text-2 {
    font-size: 1.2rem;
    text-align: left;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    line-height: 1.0;
    padding-left: 1rem;
    }

    .icons-img-text-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1.3rem;
    align-items: center;
    }

    .icons-text-3{ 
    font-size: 1.1rem;
    text-align: left;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 500;
    line-height: 1.0;
    }

    .icons-text-4 {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 1rem;
    }

    .icons-size{
    width: 6rem;
    }

  

    .txt-preto {
    color: #292929;
    }

    .txt-branco {
    color: #fff;
    }

    .txt-roxo {
    color: #BCBEFF;
    }

    .txt-aviso{
    color:#636363;
    }

    .boxcolor {
    background-color:#F8F8F8;
    }

    .boxcolor2 {
    background-color: #fff;
    }

    .boxcolor3 {
    background-color: #B2C4EA;
    }

    .boxcolor4{
    background-color: #000000;
    }

    p.txt-branco-preto {
    color: #fff;
    }

    .box-img{
    top: 28rem;
    left: 5rem;
    }

    .box-dark{
    background: #11141E; 
    width: 13rem; 
    height: 7rem; 
    border-radius: 1rem; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    }

    .box-dark-2{
    background: #11141E; 
    width: 13rem; 
    height: 7rem; 
    border-radius: 1rem; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    }

    .box-light{
    background: #fff;
    width: 13rem;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }

    .icons-img-text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;
    }

    /********************************** Grid *************************************/

    .grid-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    width: 55rem;
    height: 17rem;
    }

    .grid-redmi-for {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 4rem;
    margin-bottom: 5rem;
    }

    .grid-redmi-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 40rem;
    margin: 0 auto;
    gap: 4rem;
    }

    .grid-redmi-two-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-content: center;
    flex-direction: row;
    align-items: center;
    }

    .grid-redmi12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;

    height: 13rem;
    align-content: center;
    }

    .grid-redmi12-six{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
    height: 22rem;
    align-content: center;
    }

    .grid-img-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 58rem;
    margin: 0 auto;
    gap: 15rem;
    position: relative;
    top: -11rem;
    }

    .grid-icons-end {
    gap: 3rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 32rem;
    padding: 2rem;
    }

    .galeria{
    width: 56rem;
    margin: 0 auto;
    }

    .grid-redmi-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 7rem;
    }

    .grid-icons-end-02 {
    gap: 3rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 32rem;
    padding: 2rem;
    }

    /******************************************************/

    .img-mobi{
    display: none;
    }

    .mobi2{
    display: none;
    }

    .desk2{
    padding: 18rem;
    }

    .img-logo{
    width: 21rem;
    }


    /************************************** Mobile ************************************************/

    @media only screen and (min-width: 0px) and (max-width: 920px) {

    .icons-img-text-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 0.3rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    }

    .img-fluid {
      width: 100%;
    }

    .icons-size {
      width: 4.5rem;
      margin-bottom: 1rem;

  } 
  .img-logo {
    width: 18rem;
    margin: 0 auto;
    display: block;
}
.box-dark {
  background: #11141E;
  width: 10rem;
  height: 7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

    .desk2{
    display: none;
    }
    .img-desk{
    display: none;
    }

    .img-mobi{
    display: block;
    }

    .mobi2{
    display: block;
    padding: 1.5rem;
    }

    .box-img{
    top: 0rem;
    left: 0rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    }

    .box-dark-2{
    background: #11141E; 
    width: 10rem; 
    height: 7rem; 
    border-radius: 1rem; 

    }

    .box-light{
    background: #fff;
    width: 11rem;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }

    /*************************************Grid*********************************************/

    .grid-redmi-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 40rem;
    margin: 0 auto;
    gap: 1rem;
    }

    .grid-redmi-menu{
    display: none;
    }

    .galeria{
    margin: 0 auto;  
    width: 100%;
    }
    .grid-redmi12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
    height: 21rem;
    align-content: center;
    }

    .grid-redmi12-six {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
    height: 29rem;
    align-content: center;
    }

    .grid-redmi-for {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 2rem;
      width: 19rem;
      margin-bottom: 3rem;
  }

    .grid-icons-end {
    gap: 3rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 25rem;
    padding: 2rem;
    }

    .grid-icons-end-02 {
      gap: 3rem;
      margin: 0 auto;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      width: 25rem;
      padding: 2rem;
      }

    .grid-icons {
      gap: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 21rem;
      
    }

    /**********************************************************************************/

    .img-fluid-mob {
    width: 100%;
    }

    p.txt-branco-preto {
    color: #05061a;
    }

    .subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
    }

    .sub-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 0.5rem;
    }

    .subtitle-left {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    }

    .p-center {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    .p-left {
    font-size: 1.1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }
    
    .p-aviso {
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    }

    .icons-title {
    font-size: 1rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 600;
    margin-top: 1rem;
    }

   

    .icons-text {
    font-size: 0.9rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 500;
    line-height: 1;
    }

    .icons-text-2 {
    font-size: 1.27rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    font-weight: 700;
    line-height: 1.0;
    padding-left: 0rem;
    }

    .icons-text-4 {
      font-size: 0.9rem;
      text-align: center;
      font-family: "Camphor Pro", sans-serif;
      position: relative;
      font-weight: 700;
      line-height: 1.3;
      margin-top: 1rem;
  }

    .icons-img{
    width: 3.5rem;
    margin: 0 auto;
    display: block;
    }

    .icons-img-03{
    width: 5rem;
    margin: 0 auto;
    display: block;
    }

    

}
